/*Tag Selectors*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    color: black;
    font-weight: 400;
    letter-spacing: 3px;
}

p, li, span, label, input, textarea{
    color: #49484d;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
}

li a{
    font-size: 16px;
    transition: 0.4s;
}

header{
    background-image: url(images/code-2620118_1920bl_wh.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

header h1{
    font-weight: 700;
}

header h1,header h3{
    color: white;
    letter-spacing: 5px;
}

header a{
    padding: 10px;
    border: 3px solid white;
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
    color: white;
    transition: 0.6s;
}

header a:hover{
    color: black;
    mix-blend-mode: screen;
    background-color: white;
    border: transparent;
}

footer{
    background-color: #333;
    color: #cccdd1;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
}

footer h4, footer a{
    color: #cccdd1;
}




/*Class Selectors*/

.main-container{
    width: 1200px;
    margin: 0 auto;

}

.navbar{
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 10px 0;
    background: #333;
}

.navbar .main-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.navbar .logo-part{
    color: #3072b5;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: lowercase;
    font-family: 'Open Sans', sans-serif;
}

.navbar .menu-list{
    display: inline-flex;
}

.menu-list li{
    list-style: none;
}

.menu-list li a{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover{
    color: #87aaf6;
}

.icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.icon.cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}

.header-wrapper{
    display: grid;
    min-height: 100vh;
    text-align: center;
    align-content: center;
}

.h1-name{
    color: #6399dc;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.about-wrapper{
    display: grid;
    padding-top: 80px;
    gap: 50px;
    grid-template-areas: 
        "header header header header"
        "left right right right"
        "footer footer footer footer";
}

.about-me-header{
    grid-area: header;
    margin-left: 25px;
}

.about-image-wrapper{
    display: grid;
    align-content: center;
}

.about-image{
    width: 200px;
    height: 200px;
    background-image: url(images/portrait.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    grid-area: left;
    box-shadow: 3px 3px 5px 0px rgba(186, 186, 186, 0.55);
}

.about-me{
    grid-area: right;
    border-bottom: solid 1px #6a696e;
    text-align: center;
}

.about-icon-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 60px 0;
}

.about-icon{
    margin: 10px auto;
    max-width: 250px;
}

.about-icon img{
    height: 150px;
    width: auto;
}

.what-i-do{
    grid-area: footer;
    margin-top: 40px;
    margin-bottom: 40px;
}

.wid-heading{
    border-left: 5px solid #6399dc;
    padding-left: 24px;
    margin-bottom: 20px;
}

.skill{
    text-align: center;
}

.skill img{
    height: 100px;
    width: 100px;
    image-rendering: crisp-edges;
}

.projects-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 60px auto;
}

.project{
    margin: 20px auto;
    padding: 0 20px;
}

.project-preview{
    width: 246px;
}

.work-header-wrapper{
    padding-top: 80px;
    margin-bottom: 40px;
}

.project-header-wrapper{
    text-align: left;
    border-left: 5px solid #6399dc;
    padding-left: 24px;
}

.thumbnail{
    border: 3px solid #49484d;
}

.thumbnail:hover{
    opacity: 0.5;
    border-color: #6399dc;
    transition: 0.3s ease-out;
}

.btn{
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
}

.btn:hover{
    background-color: #6399dc;
    color: black;
}

.btn-dark{
    background-color: #040406;
}

.btn-light{
    background-color: #dbdbdd;
    color: #333;
}

.border{
    width: 100px;
    height: 10px;
    background: #3072b5;
    margin: 40px auto;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #333;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #3072b5;
}

textarea.contact-form-text{
    resize: none;
    height: 120px;
}

.contact-form-btn{
    float: right;
    border: 0;
    background: #3072b5;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 40px;
}

.contact-form-btn:hover{
    background: #87aaf6;
}

.credit-container{
    padding-bottom: 40px;
}




/*ID Selectors*/

#about-me{
    background-color: #fff;
    overflow: auto;
    min-height: 100vh;
}

#skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 60px 0 40px 0;
}

#my-work{
    background-color: #fafafa;
    overflow: auto;
    min-height: 100vh;
    text-align: center;
}

#contacts{
    background: url(images/altumcode-dMUt0X3f59Q-unsplash.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
}

#contacts h2{
    text-align: center;
    color: #fff;
}

#contacts .main-container{
    margin: 40px auto;
}




/*Media Queries*/
@media (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}

@media (max-width: 868px){
    body.disabledScroll{
        overflow: hidden;
    }

    .icon{
        display: block;
    }

    .icon.hide{
        display: none;
    }

    .navbar .menu-list{
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100%;
        max-width: 400px;        
        left: -100%;
        background: #262626;
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 0.3s ease;
    }

    .navbar .menu-list.active{
        left: 0%;
    }

    .navbar .menu-list li{
        margin-top: 45px;
    }

    .navbar .menu-list li a{
        font-size: 23px;
    }
}

@media (max-width: 848px){
    .about-wrapper{
        display: grid;
        padding-top: 80px;
        gap: 30px;
        grid-template-areas: 
        "header header"
        "image image"
        "text text"
        "footer footer";
    }

    .about-image{
        grid-area: image;
    }

    .about-me{
        grid-area: text;
    }
}

@media (max-width: 360px){
    .project{
        padding: 0 10px;
    }
}